[Unit]
Description=SMC's distributed currency daemon
After=network.target

[Service]
User=smc
Group=smc

Type=forking
PIDFile=/var/lib/smcd/smcd.pid

ExecStart=/usr/bin/smcd -daemon -pid=/var/lib/smcd/smcd.pid \
          -conf=/etc/smc/smc.conf -datadir=/var/lib/smcd

ExecStop=-/usr/bin/smc-cli -conf=/etc/smc/smc.conf \
         -datadir=/var/lib/smcd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
